* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.root {
  display: flex;
  background: transparent;
  flex-grow: 1;
  border: 1px solid #000;
}
